* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.linhas {
    display: flex;
    height: 150px;
    width: 600px;
}

.linhas:nth-child(2) {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.colunas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 100%;
    cursor: pointer;
}

.colunas:hover {
    background-color: gainsboro;
    transition: all 0.2s linear;
}

.centrais {
    border-left: 2px solid black;
    border-right: 2px solid black;
}